<div class="container" *ngIf="productFormGroup">
    <form [formGroup]="productFormGroup">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          id="name"
          type="text"
          class="form-control"
          formControlName="name"
          [ngClass]="{'is-invalid': submitted && productFormGroup.controls['name'].errors}"
        />
        <div
          *ngIf="submitted && productFormGroup.controls['name'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="productFormGroup.controls['name'].errors['required']">
            Name is required.
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="price">Price</label>
        <input
          id="price"
          type="text"
          class="form-control"
          formControlName="price"
          [ngClass]="{'is-invalid': submitted && productFormGroup.controls['price'].errors}"
        />
        <div
          *ngIf="submitted && productFormGroup.controls['price'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="productFormGroup.controls['price'].errors['required']">
            Price is required.
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input
          id="quantity"
          type="text"
          class="form-control"
          formControlName="quantity"
          [ngClass]="{'is-invalid': submitted && productFormGroup.controls['quantity'].errors}"
        />
        <div
          *ngIf="submitted && productFormGroup.controls['quantity'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="productFormGroup.controls['quantity'].errors['required']">
            Quantity is required.
          </div>
        </div>
      </div>
  
      <div class="form-group form-check">
        <input
          id="selected"
          type="checkbox"
          formControlName="selected"
          class="form-check-input"
        />
        <label for="selected" class="form-check-label">Selected</label>
      </div>
  
      <div class="form-group form-check">
        <input
          id="available"
          type="checkbox"
          formControlName="available"
          class="form-check-input"
        />
        <label for="available" class="form-check-label">Available</label>
      </div>
  
      <button type="button" class="btn btn-success" (click)="onSaveProduct()">
        Save
      </button>
    </form>
  </div>
  